<a href="https://colab.research.google.com/github/ingridcos/exercicios-praticos/blob/main/C%C3%B3pia_de_Projeto_Final_Squad_Nina_da_Hora.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [575]:
import pandas as pd
import requests
import json
import sqlite3
import os

In [576]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [577]:
caminho = "/content/drive/MyDrive/car_prices.csv"
df = pd.read_csv(caminho)
display(df)

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,NaN,knalw4d4xf6019304,in,45.0,18255.0,silver,black,avis corporation,35300.0,33000.0,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,3c6td5et6cg112407,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200.0,30800.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,SUV,automatic,5uxzw0c58cl668465,ca,48.0,50561.0,black,black,financial services remarketing (lease),29800.0,34000.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,ga,38.0,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100.0,11100.0,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,ca,34.0,15008.0,gray,gray,ford motor credit company llc pd,29600.0,26700.0,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [578]:
print(df.columns)
print(df.describe)

Index(['year', 'make', 'model', 'trim', 'body', 'transmission', 'vin', 'state',
       'condition', 'odometer', 'color', 'interior', 'seller', 'mmr',
       'sellingprice', 'saledate'],
      dtype='object')
<bound method NDFrame.describe of         year    make                model         trim       body  \
0       2015     Kia              Sorento           LX        SUV
1       2015     Kia              Sorento           LX        SUV
2       2014     BMW             3 Series   328i SULEV      Sedan
3       2015   Volvo                  S60           T5      Sedan
4       2014     BMW  6 Series Gran Coupe         650i      Sedan
...      ...     ...                  ...          ...        ...
558832  2015     Kia                 K900       Luxury      Sedan
558833  2012     Ram                 2500  Power Wagon   Crew Cab
558834  2012     BMW                   X5    xDrive35d        SUV
558835  2015  Nissan               Altima        2.5 S      sedan
558836  2014    Ford                F-150          XLT  SuperCrew

       transmission                vin state  condition  odometer   color  \
0         automatic  5xyktca69fg566472    ca        5.0   16639.0   white
1         automatic  5xyktca69fg561319    ca        5.0    9393.0   white
2         automatic  wba3c1c51ek116351    ca       45.0    1331.0    gray
3         automatic  yv1612tb4f1310987    ca       41.0   14282.0   white
4         automatic  wba6b2c57ed129731    ca       43.0    2641.0    gray
...             ...                ...   ...        ...       ...     ...
558832          NaN  knalw4d4xf6019304    in       45.0   18255.0  silver
558833    automatic  3c6td5et6cg112407    wa        5.0   54393.0   white
558834    automatic  5uxzw0c58cl668465    ca       48.0   50561.0   black
558835    automatic  1n4al3ap0fc216050    ga       38.0   16658.0   white
558836    automatic  1ftfw1et2eke87277    ca       34.0   15008.0    gray

       interior                                             seller      mmr  \
0         black                            kia motors america  inc  20500.0
1         beige                            kia motors america  inc  20800.0
2         black             financial services remarketing (lease)  31900.0
3         black                            volvo na rep/world omni  27500.0
4         black             financial services remarketing (lease)  66000.0
...         ...                                                ...      ...
558832    black                                   avis corporation  35300.0
558833    black                                    i -5 uhlmann rv  30200.0
558834    black             financial services remarketing (lease)  29800.0
558835    black  enterprise vehicle exchange / tra / rental / t...  15100.0
558836     gray                   ford motor credit company llc pd  29600.0

        sellingprice                                 saledate
0            21500.0  Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1            21500.0  Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2            30000.0  Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3            27750.0  Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4            67000.0  Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...              ...                                      ...
558832       33000.0  Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833       30800.0  Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834       34000.0  Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835       11100.0  Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836       26700.0  Thu May 28 2015 05:30:00 GMT-0700 (PDT)

[558837 rows x 16 columns]>

Contagem das linhas antes da limpeza

In [579]:
df_original = df.copy()
linhas_original = len(df_original)
print("Antes de qualquer limpeza:", linhas_original)

Antes de qualquer limpeza: 558837

Todos da coluna Sellingprice são numéricos

In [580]:
df["sellingprice"] = pd.to_numeric(df["sellingprice"], errors="coerce")

Quantidade de Nulos e Zeros

In [581]:
nulos = df["sellingprice"].isnull().sum()
zeros = (df["sellingprice"] == 0).sum()

print(f"Nulos em sellingprice: {nulos}")
print(f"Zeros em sellingprice: {zeros}")
print(f"Total problemáticos: {nulos + zeros}")

Nulos em sellingprice: 12
Zeros em sellingprice: 0
Total problemáticos: 12

Colunas onde tem nulos

In [582]:
df[df["sellingprice"].isna()]

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
306447,2013,Hyundai,Sonata,GLS,Sedan,automatic,5npeb4ac6dh687932,il,19.0,37254.0,gray,gray,kfl llc,NaN,NaN,NaN
406524,2013,Chrysler,300,Base,Sedan,automatic,2c3ccaag9dh723146,il,27.0,44208.0,silver,black,kfl llc,NaN,NaN,NaN
422358,2013,Hyundai,Sonata,GLS,Sedan,NaN,5npeb4ac3dh735368,az,28.0,44299.0,blue,gray,kfl llc,NaN,NaN,NaN
429644,2013,Chrysler,200,Touring,Sedan,automatic,1c3ccbbb9dn718531,il,25.0,47344.0,white,black,kfl llc,NaN,NaN,NaN
429660,2013,Dodge,Avenger,SXT,Sedan,automatic,1c3cdzcg5dn741076,il,34.0,44525.0,gray,black,kfl llc,NaN,NaN,NaN
429786,2013,Hyundai,Accent,GLS,Sedan,automatic,kmhct4ae7du450468,il,3.0,43135.0,silver,gray,kfl llc,NaN,NaN,NaN
431905,2013,Kia,Soul,Base,Wagon,automatic,kndjt2a5xd7765280,va,19.0,29465.0,silver,black,kfl llc,NaN,NaN,NaN
457035,2014,Hyundai,Elantra,SE,Sedan,automatic,5npdh4ae3eh504144,il,19.0,20775.0,white,—,kfl llc,NaN,NaN,NaN
457803,2013,Dodge,Charger,SE,Sedan,automatic,2c3cdxbg6dh688757,il,19.0,45355.0,white,black,kfl llc,NaN,NaN,NaN
522495,2012,Ford,Fusion,SEL,sedan,automatic,3fahp0jg5cr241590,va,26.0,51648.0,black,gray,kfl llc,NaN,NaN,NaN
537706,2012,Kia,Forte,LX,sedan,automatic,knaft4a22c5559983,md,25.0,30927.0,silver,gray,kfl llc,NaN,NaN,NaN
543129,2014,Hyundai,Accent,GLS,sedan,automatic,kmhct4ae0eu650738,il,19.0,26379.0,gray,gray,kfl llc,NaN,NaN,NaN

In [583]:
# 1) Ler a fonte original (por exemplo, o CSV que você recebeu)
df = pd.read_csv("/content/drive/MyDrive/car_prices.csv")

# 2) Definir pasta bronze
pasta_bronze = "/content/drive/MyDrive/bronze"
os.makedirs(pasta_bronze, exist_ok=True)

# 3) Salvar o dado bruto na camada bronze
caminho_bronze = os.path.join(pasta_bronze, "car_prices_bronze.csv")
df.to_csv(caminho_bronze, index=False)

In [584]:
caminho = "/content/drive/MyDrive/bronze/car_prices_bronze.csv"
df_bronze = pd.read_csv(caminho_bronze)

df_bronze.head()

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)

In [585]:
linhas_original = len(df_original)
print("Antes de qualquer limpeza:", linhas_original)

Antes de qualquer limpeza: 558837

In [586]:
df_bronze = df.copy()
linhas_original = len(df_original)
print("Antes de qualquer limpeza:", linhas_original)

Antes de qualquer limpeza: 558837

Tradução do nome das colunas - Bronze

In [587]:
df_bronze = df_bronze.rename(columns={
    "year": "ano",
    "make": "marca",
    "model": "modelo",
    "trim": "versao",
    "body": "carroceria",
    "transmission": "cambio",
    "vin": "chassi",
    "state": "estado",
    "condition": "condicao",
    "odometer": "hodometro",
    "color": "cor_externa",
    "interior": "cor_interna",
    "seller": "vendedor",
    "mmr": "mmr",
    "sellingprice": "preco_venda",
    "saledate": "data_venda"
}
)

df_bronze.head()

,ano,marca,modelo,versao,carroceria,cambio,chassi,estado,condicao,hodometro,cor_externa,cor_interna,vendedor,mmr,preco_venda,data_venda
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)

In [588]:
print(df_bronze.columns)

Index(['ano', 'marca', 'modelo', 'versao', 'carroceria', 'cambio', 'chassi',
       'estado', 'condicao', 'hodometro', 'cor_externa', 'cor_interna',
       'vendedor', 'mmr', 'preco_venda', 'data_venda'],
      dtype='object')

Após remoção dos nulos(Remove linhas) - Contagem

In [589]:
df_bronze = df_bronze.dropna(subset=["preco_venda"])
print(f"Linhas originais: {len(df)}")
print(f"Linhas após remoção: {len(df_bronze)}")

Linhas originais: 558837
Linhas após remoção: 558825

Nulo nas demais colunas

In [590]:
df_bronze.isna().any()

ano            False
marca           True
modelo          True
versao          True
carroceria      True
cambio          True
chassi          True
estado         False
condicao        True
hodometro       True
cor_externa     True
cor_interna     True
vendedor       False
mmr             True
preco_venda    False
data_venda     False
dtype: bool

Quantidade de Nulos nas demais colunas

In [591]:
df_bronze.isna().sum()

ano                0
marca          10301
modelo         10399
versao         10651
carroceria     13195
cambio         65351
chassi             4
estado             0
condicao       11820
hodometro         94
cor_externa      749
cor_interna      749
vendedor           0
mmr               26
preco_venda        0
data_venda         0
dtype: int64

Conferindo Nulos e Zeros em SellingPrice

In [592]:
print("Nulos em preco_venda:", df_bronze["preco_venda"].isna().sum())
print("Zeros em preco_venda:", (df_bronze["preco_venda"] == 0).sum())

Nulos em preco_venda: 0
Zeros em preco_venda: 0

In [593]:
print("\nPrimeiras 5 linhas limpas:")
print(df_bronze.head())

Primeiras 5 linhas limpas:
    ano  marca               modelo      versao carroceria     cambio  \
0  2015    Kia              Sorento          LX        SUV  automatic
1  2015    Kia              Sorento          LX        SUV  automatic
2  2014    BMW             3 Series  328i SULEV      Sedan  automatic
3  2015  Volvo                  S60          T5      Sedan  automatic
4  2014    BMW  6 Series Gran Coupe        650i      Sedan  automatic

              chassi estado  condicao  hodometro cor_externa cor_interna  \
0  5xyktca69fg566472     ca       5.0    16639.0       white       black
1  5xyktca69fg561319     ca       5.0     9393.0       white       beige
2  wba3c1c51ek116351     ca      45.0     1331.0        gray       black
3  yv1612tb4f1310987     ca      41.0    14282.0       white       black
4  wba6b2c57ed129731     ca      43.0     2641.0        gray       black

                                 vendedor      mmr  preco_venda  \
0                 kia motors america  inc  20500.0      21500.0
1                 kia motors america  inc  20800.0      21500.0
2  financial services remarketing (lease)  31900.0      30000.0
3                 volvo na rep/world omni  27500.0      27750.0
4  financial services remarketing (lease)  66000.0      67000.0

                                data_venda
0  Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1  Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2  Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3  Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4  Thu Dec 18 2014 12:30:00 GMT-0800 (PST)

Quantidade de linhas após a limpeza do Preço de Venda

In [594]:
qtd_linhas = len(df_bronze)
print("Linhas após limpar nulos de preco_venda:", qtd_linhas)

Linhas após limpar nulos de preco_venda: 558825

In [595]:
df_bronze = df_bronze.dropna(subset=["preco_venda"])
print(f"Linhas originais: {len(df)}")
print(f"Linhas após remoção: {len(df_bronze)}")

Linhas originais: 558837
Linhas após remoção: 558825

Quantidade de zeros nas demais colunas

In [596]:
print("=== ZEROS POR COLUNA ===")
for col in df_bronze.columns:
    qtd_zeros = (df_bronze[col] == 0).sum()
    if qtd_zeros > 0:
        total_validos = df_bronze[col].notna().sum()
        pct = qtd_zeros / total_validos * 100
        print(f"{col}: {qtd_zeros} zeros ({pct:.1f}%)")

=== ZEROS POR COLUNA ===

In [597]:
numeric_cols = df_bronze.select_dtypes(include=['number']).columns
zeros_numericas = (df_bronze[numeric_cols] == 0).sum()
print("Zeros só em colunas numéricas:")
print(zeros_numericas[zeros_numericas > 0])

Zeros só em colunas numéricas:
Series([], dtype: int64)

**Outliers:**
*   Limite Superior e Inferior
*   Quantidade de Outliers

Preços ordenados:

$1k → $5k (25%)

$6.9k→ $12k → $18.2k (50%)

$35k → $100k (75%)

1. Q1 = 25% dos dados (precos.quantile(0.25))
2. Q3 = 75% dos dados (precos.quantile(0.75))  
3. IQR = Q3 - Q1 (intervalo do meio)
4. LIM_INFERIOR = Q1 - 1.5 × IQR
5. LIM_SUPERIOR = Q3 + 1.5 × IQR
6. OUTLIERS = valores < LIM_INFERIOR OU > LIM_SUPERIOR

In [598]:
precos = df_bronze["preco_venda"]
Q1 = precos.quantile(0.25)
Q3 = precos.quantile(0.75)
IQR = Q3 - Q1
limite_superior = Q3 + 1.5 * IQR

print(f"Q1 real: ${Q1:,.0f}")
print(f"Q3 real: ${Q3:,.0f}")
print(f"IQR real: ${IQR:,.0f}")
print(f"Limite superior CORRETO: ${limite_superior:,.0f}")

outliers = df_bronze[df_bronze["preco_venda"] > limite_superior]
print(f"Outliers reais: {len(outliers)}")
print(f"Percentual: {len(outliers)/len(df_bronze)*100:.1f}%")
print(f"Total linhas: {len(df_bronze)}")

Q1 real: $6,900
Q3 real: $18,200
IQR real: $11,300
Limite superior CORRETO: $35,150
Outliers reais: 16354
Percentual: 2.9%
Total linhas: 558825

In [599]:
outliers = df_bronze[df_bronze["preco_venda"] > limite_superior]
qtd_oficial = len(outliers)
print("Primeiros 5 outliers:")
print(outliers[["preco_venda"]].head())

Primeiros 5 outliers:
    preco_venda
4       67000.0
6       65000.0
10      49750.0
17      40000.0
19      67200.0

Todos os valores da coluna state(estado) em letras maiúsculas.

In [600]:
df_bronze["estado"] = df_bronze["estado"].astype(str).str.upper()

In [601]:
print(df_bronze["estado"].head())

0    CA
1    CA
2    CA
3    CA
4    CA
Name: estado, dtype: object

Deixar a coluna make(marca) no formato “Título”: só a primeira letra de cada palavra em maiúsculo.

Exemplos:

"ford" → "Ford"

"FORD MOTOR" → "Ford Motor"

In [602]:
df_bronze["marca"] = df_bronze["marca"].str.title()

In [603]:
display(df_bronze["marca"].head())

0      Kia
1      Kia
2      Bmw
3    Volvo
4      Bmw
Name: marca, dtype: object

Conferindo se a coluna Preço de Venda está numérica

In [604]:
print(df_bronze["preco_venda"].dtype)

float64

Conferindo colunas numéricas e textos

In [605]:
print(df_bronze.dtypes)

ano              int64
marca           object
modelo          object
versao          object
carroceria      object
cambio          object
chassi          object
estado          object
condicao       float64
hodometro      float64
cor_externa     object
cor_interna     object
vendedor        object
mmr            float64
preco_venda    float64
data_venda      object
dtype: object

Transformando o Preço de Venda em Número Inteiro

In [606]:
df_bronze["preco_venda"] = df_bronze["preco_venda"].round(0).astype("Int64")

In [607]:
print(df_bronze["preco_venda"].head())
print(df_bronze["preco_venda"].dtype)

0    21500
1    21500
2    30000
3    27750
4    67000
Name: preco_venda, dtype: Int64
Int64

Conferindo novamente colunas e linhas

In [608]:
linhas, colunas = df_bronze.shape
print("Linhas:", linhas)
print("Colunas:", colunas)

Linhas: 558825
Colunas: 16

In [613]:
caminho_bronze = "/content/drive/MyDrive/bronze/car_prices_bronze.csv"
df_bronze = pd.read_csv(caminho_bronze)
print(df_bronze.columns)

Index(['year', 'make', 'model', 'trim', 'body', 'transmission', 'vin', 'state',
       'condition', 'odometer', 'color', 'interior', 'seller', 'mmr',
       'sellingprice', 'saledate'],
      dtype='object')

In [609]:
# 1) Ler o bronze
caminho_bronze = "/content/drive/MyDrive/bronze/car_prices_bronze.csv"
df_bronze = pd.read_csv(caminho_bronze)

# 2) Criar o silver aplicando limpezas
df_silver = df_bronze.copy()

# EXEMPLOS de limpeza (ajuste para o que seu exercício pede)
# df_silver = df_silver.drop_duplicates()
# df_silver = df_silver.dropna(how="all")
# df_silver["saledate"] = pd.to_datetime(df_silver["saledate"])
# df_silver = df_silver.rename(columns=mapa_colunas)

# 3) Definir pasta silver
pasta_silver = "/content/drive/MyDrive/silver"
os.makedirs(pasta_silver, exist_ok=True)

# 4) Salvar em csv - silver
caminho_silver = os.path.join(pasta_silver, "car_prices_silver.csv")
df_silver.to_csv(caminho_silver, index=False)

print("Arquivo silver salvo com sucesso em:", caminho_silver)

Arquivo silver salvo com sucesso em: /content/drive/MyDrive/silver/car_prices_silver.csv

In [612]:
caminho_silver = "/content/drive/MyDrive/silver/car_prices_silver.csv"
df_silver = pd.read_csv(caminho_silver)

df_silver.head()      # mostra as primeiras linhas
# ou
display(df_silver)    # no Colab/Jupyter, mostra a tabela inteira

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,NaN,knalw4d4xf6019304,in,45.0,18255.0,silver,black,avis corporation,35300.0,33000.0,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,3c6td5et6cg112407,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200.0,30800.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,SUV,automatic,5uxzw0c58cl668465,ca,48.0,50561.0,black,black,financial services remarketing (lease),29800.0,34000.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,ga,38.0,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100.0,11100.0,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,ca,34.0,15008.0,gray,gray,ford motor credit company llc pd,29600.0,26700.0,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [611]:
df.to_csv('car_prices_treated.csv', index=False)

print('Dados tratados salvos em car_prices_treated.csv')

Dados tratados salvos em car_prices_treated.csv